In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/gps.csv')
df.head()

,Id,Longitude,Latitude,Accuracy,TimeStamp,Date,DateTime,IsGPSOn,BatLevel,Provider,Bearing,DeviceTime,RepId
0,883873960,80.55590,7.16898,2.3,1695694012000,26/09/2023 12:00:00 AM,26/09/2023 2:06:52 AM,True,0,gps,124.15,26/09/2023 7:36:54 AM,395
1,883873961,80.55589,7.16899,2.1,1695694025000,26/09/2023 12:00:00 AM,26/09/2023 2:07:05 AM,True,0,gps,152.95,26/09/2023 7:37:05 AM,395
2,883874460,80.55589,7.16899,3.6,1695694027676,26/09/2023 12:00:00 AM,26/09/2023 2:07:08 AM,True,0,gps,201.10,26/09/2023 7:37:08 AM,395
3,883874461,80.55589,7.16899,3.5,1695694028176,26/09/2023 12:00:00 AM,26/09/2023 2:07:08 AM,True,0,gps,201.39,26/09/2023 7:37:08 AM,395
4,883874462,80.55586,7.16899,3.1,1695694029000,26/09/2023 12:00:00 AM,26/09/2023 2:07:09 AM,True,0,gps,187.51,26/09/2023 7:37:09 AM,395

In [7]:
df.shape

(166593, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166593 entries, 0 to 166592
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          166593 non-null  int64
 1   Longitude   166593 non-null  float64
 2   Latitude    166593 non-null  float64
 3   Accuracy    166593 non-null  float64
 4   TimeStamp   166593 non-null  int64
 5   Date        166593 non-null  object
 6   DateTime    166593 non-null  object
 7   IsGPSOn     166593 non-null  bool
 8   BatLevel    166593 non-null  int64
 9   Provider    166593 non-null  object
 10  Bearing     166593 non-null  float64
 11  DeviceTime  166593 non-null  object
 12  RepId       166593 non-null  int64
dtypes: bool(1), float64(4), int64(4), object(4)
memory usage: 15.4+ MB

In [8]:
df.isnull().sum()

Id            0
Longitude     0
Latitude      0
Accuracy      0
TimeStamp     0
Date          0
DateTime      0
IsGPSOn       0
BatLevel      0
Provider      0
Bearing       0
DeviceTime    0
RepId         0
dtype: int64

In [21]:
df['Longitude'].value_counts()

Longitude
80.59282    2314
80.59281    1890
80.59284    1799
80.55588    1723
80.55592    1703
            ...
80.57054       1
80.55631       1
80.58905       1
80.55635       1
80.59440       1
Name: count, Length: 3328, dtype: int64

In [22]:
df['Date'].value_counts()

Date
26/09/2023 12:00:00 AM    166593
Name: count, dtype: int64